

.overView {
  font-size: smaller;
  }

.title {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.description {
    font-size: xx-small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkgray;
}


  